.about-us-section {
    display: block;
    width: 100%;
}

.section-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
}

.about-us-header {
    background-image: url('./imgs/seattle-skyline.png');
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    height: 525px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.about-us-title-H1 {
    font-weight: 700;
    font-size: 6rem;
    margin-left: 38%;
    margin-block-start: 0.4em;
    margin-block-end: 0.8em;
}

.member-pic {
    width: 15vw;
    height: 20vh;
    img {
        width: 100%;
        height: auto;
    }
}