.addingCities {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 90%;
  padding: 3% 0;
  margin: 0 auto;
  .ant-select {
    width: 80%;
    margin: 0 auto;
  }
  .ant-btn {
    height: 5vh;
    width: 5vh;
  }
  .ant-input:first-child {
    font-size: 1.5rem;
    height: 5vh;
  }
}
.searchWithOptions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.adv-search-div-container {
  text-align: -webkit-right;
  display: flex;
  flex-direction: row-reverse;
  .adv-form-container {
    text-align: -webkit-right;
  }
}

.ant-btn.ant-btn-primary.adv-search-btn {
  background-color: #4e4ef5;
  border-color: #4e4ef5;
  border-radius: 5px;
  width: auto;
  display: block;
  &:hover {
    cursor: pointer;
    background-color: white;
    color: #4e4ef5;
  }
  &.show {
    margin-bottom: -3%;
  }
  &.search {
    margin: 0 1%;
  }
  &.cancel {
    background-color: red;
    border-color: red;
    border-radius: 5px;
    &:hover {
      cursor: pointer;
      background-color: white;
      color: red;
    }
  }
}

.adv-question-container {
  display: flex;
  justify-content: space-between;
  padding: 0.5% 0;
  .label {
    font-size: 1.6rem;
    margin: 1% 0;
  }
  .adv-dropdown-select {
    width: 20vw;
    height: 4vh;
    background-color: #8080802f;
    border-radius: 5px;
  }
  .adv-dropdown-budget {
    width: 20vw;
    height: 4vh;
    background-color: #8080802f;
    border-radius: 5px;
    border-color: gray;
  }
}

#form-container {
  width: 100%;
  display: none;
  background-color: white;
  border-radius: 8px;
  padding: 2% 5%;
  h2,
  p {
    text-align: center;
  }
  .adv-search-buttons {
    display: flex;
    justify-content: flex-end;
  }
}

.empty {
  font-size: 1.5rem;
  height: 5vh;
  width: 100%;
  background-color: rgba(29, 29, 29, 0.068);
  display: flex;
  align-items: center;
  border: 1px solid grey;
  p {
    margin-left: 2%;
    margin-top: 1.5%;
    cursor: default;
    font-weight: 600;
  }
  .sk-chase-dot {
    width: 100%;
    height: 100%;
  }
  .sk-chase {
    margin: 25px;
    width: 30px;
    height: 30px;
    position: relative;
    animation: sk-chase 2.5s infinite linear both;
  }
}

.input-symbol {
  position: relative;
}
.input-symbol input {
  padding-left: 18px;
}
.input-symbol:before {
  position: absolute;
  top: 0;
  content: '$';
  left: 7px;
}

@media (max-width: 800px) {
  #adv-search-btn {
    height: fit-content;
  }
}

.error{
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;
  
  /* When the animation is finished, start again */
  animation-iteration-count: 3s;
}
    
@keyframes shake {
0% { transform: translate(1px, 1px) rotate(0deg); }
10% { transform: translate(-1px, -2px) rotate(-1deg); }
20% { transform: translate(-3px, 0px) rotate(1deg); }
30% { transform: translate(3px, 2px) rotate(0deg); }
40% { transform: translate(1px, -1px) rotate(1deg); }
50% { transform: translate(-1px, 2px) rotate(-1deg); }
60% { transform: translate(-3px, 1px) rotate(0deg); }
70% { transform: translate(3px, 1px) rotate(-1deg); }
80% { transform: translate(-1px, -1px) rotate(1deg); }
90% { transform: translate(1px, 2px) rotate(0deg); }
100% { transform: translate(1px, -2px) rotate(-1deg); }
}
