.addingCities {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 90%;
  margin: 3% auto;
  .ant-select {
    width: 80%;
    margin: 0 auto;
  }
  .ant-btn {
    height: 5vh;
    width: 5vh;
  }
  .ant-input:first-child {
    font-size: 1.5rem;
    height: 5vh;
  }
}
