* {
  box-sizing: border-box;
}
#root {
  overflow: hidden;
  font: 16px Arial;
  background: rgb(238, 174, 174);
  background: linear-gradient(
    36deg,
    rgba(255, 149, 0, 0.2) 0%,
    rgba(0, 136, 255, 0.2) 100%
  );
  background-repeat: no-repeat;
  animation: fadeIn 2s ease-in-out;
}

// fade-in animation for when home page loads
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.autocomplete .focus {
  background-color: rgb(255, 152, 152);
  font-weight: 600;
}

// the container must be positioned relative:
.autocomplete {
  p {
    overflow-y: hidden;
    padding: 1%;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
    width: 90vw;
    margin: 0;
  }
  position: relative;
  position: absolute;
  z-index: 99;
  width: 85vw;
  border: 1px solid rgba(0, 0, 0, 0.13);
  background-color: rgb(255, 255, 255);
}

// search bar input
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type='text'] {
  background-color: #f1f1f1;
  width: 100%;
}

input[type='submit'] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

/*when hovering an item:*/
.autocomplete p:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}
h5 {
  font-size: 1.4rem;
  font-weight: 700;
  padding: 1%;
}
h4 {
  font-size: 2rem;
  font-weight: 700;
  padding: 1%;
  text-align: center;
  color: blue;
}
// mobile optimized
@media (max-width: 500px) {
  #root .addingCities {
    p {
      font-size: 1rem;
    }
  }
}
.ant-input-group-wrapper {
  width: 90vw;
}


