.report-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  *font-size: 62.5%;
  h3 {
    text-align: center;
  }
}
.average-rent {
  h1 {
    text-align: center;
  }
}
.weather {
  width: 50%;
}
.cityDisplayPlot {
  padding: 0 2% 0;
  text-align: center;
}

.walkData {
  p {
    padding: 1%;
  }
}
.weatherData {
  background-color: #fb8600e0;
  border-radius: 30px;
  padding-top: 6%;
  color: white;
  margin-left: 2%;
  margin-right: 2%;
  div {
    padding: 1%;
    p {
      padding: 1%;
    }
  }
  h3 {
    color: white;
  }
  .main-temperature{
    h1 {
      font-size: 6rem;
      margin-bottom: 0;
      color: white;
    }
  }
  .other-temperature{
    display: flex;
    justify-content: space-between;
    margin-left: 23%;
    margin-right: 23%;
  }
  .weather-stat-div{
    display: flex;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.2rem;
    .weather-stat-titles{
      text-align: left;
    }
    .weather-stat-nums{
      font-weight: bolder;
      text-align: right;
    }
  }
}


