@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.report-div {
  section {
    text-align: center;
  }
}
.report-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  *font-size: 62.5%;
  h3 {
    text-align: center;
  }
}
.average-rent {
  h1 {
    text-align: center;
  }
}
.weather {
  width: auto;
}
.weathers {
  display: flex;
  justify-content: space-around;
  margin: 0 15vw;
}
.cityDisplayPlot {
  padding: 0 2% 0;
  text-align: center;
  transition: opacity 1s;
}
.fadeIn {
  animation: all 2s ease-in-out;
  // opacity: 0;
}
.walkData {
  p {
    padding: 1%;
  }
}

.weatherData {
  background: rgba(0, 0, 57, 0.75);
  border: 6px outset rgb(197, 197, 236);
  border-radius: 30px;
  padding-top: 6%;
  color: white;
  margin-left: 7%;
  margin-right: 7%;
  div {
    padding: 1%;
    p {
      padding: 1%;
    }
  }
  h3 {
    color: white;
    font-size: x-large;
    text-shadow: 0 0 3px #000000;
  }
  .main-temperature {
    padding-bottom: 0;
    h1 {
      font-size: 6rem;
      margin-bottom: 0;
      font-family: Arial, Helvetica, sans-serif;
    }
  }
  .other-temperature {
    display: flex;
    justify-content: space-between;
    margin-left: 8.2vw;
    margin-right: 8.2vw;
    text-shadow: 0 0 5px #000000;
  }
  .weather-stat-div {
    display: flex;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.2rem;
    .weather-stat-titles {
      text-align: left;
      text-shadow: 0 0 3px #000000;
    }
    .weather-stat-nums {
      font-weight: bolder;
      text-align: right;
      text-shadow: 0 0 5px #000000;
    }
  }
}
.justRight {
  background: rgb(168, 230, 255);
  background: linear-gradient(
    rgb(168, 245, 255) 15%,
    rgba(255, 213, 179, 1) 75%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.tooHot {
  background: rgb(43, 121, 255);
  background: linear-gradient(
    5deg,
    rgb(255, 81, 0) 25%,
    rgb(255, 230, 0) 35%,
    rgb(255, 94, 0) 60%,
    rgb(255, 10, 0) 91%,
    rgba(255, 255, 255, 1) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.tooCold {
  background: rgb(0, 182, 255);
  background: linear-gradient(
    0deg,
    rgba(0, 182, 255, 1) 0%,
    rgba(218, 232, 255, 1) 66%,
    rgb(156, 156, 156) 68%,
    rgba(255, 255, 255, 1) 70%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
