// height: 10px; prevents bottom of content leaking down past bottom border
.citrics-logo {
    margin-top: 1vh;
    float: right;
  }

.link {
  font-size: large;
  font-weight: bold;
  letter-spacing: .15ch;
}