// height: 10px; prevents bottom of content leaking down past bottom border
.title {
    height: 10px;
    margin-bottom: 1%;
    color: #F77F00;
    font-size: x-large;
    float: right;
  }

.link {
  color: #F77F00;
  font-size: large;
  font-weight: bold;
  letter-spacing: .15ch;
}