.information {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1%;
  padding: 3% 3% 5%;
  div,
  h2 {
    text-align: center;
  }
  i {
    margin: 5% 0;
  }
  p {
    margin: 1% 10%;
    font-size: 1.5rem;
  }
}
.emptyImg {
  height: 15vh;
}
@media (max-width: 800px) {
  .information {
    grid-template-columns: none;
    padding-bottom: 15%;
  }
}
